/* hoja de estilos correspondiete a la tarea del modulo 1 */
.jumbotron{
    background-color: black;
    color: white;
}
.footer{

    background-color: black;
    color: white;
}
.all-detail{
    background-color: coral;
    
}
.restaurants{
    background-color: darkgray;
    color:white
}